.fundo {
    background-color: #2E2E2E;
    min-height: 100vh;
    max-height: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.centralizar_h {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 20%;
    margin-top: 5%;
    width: 200vh;
    position: relative;
}

.retangulo_branco {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 0%;
    margin: 0 auto;
    background-color: white;
    border-radius: 20px;
    border: none;
    min-height: 80vh;
    max-height: none;
    min-width: 160vh;
    max-width: 160vh;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 10px;
}

.retangulo_cinza {
    background-color: #2E2E2E;
    height: 100%;
    width: calc(33.333% - 50px);
    margin: 13px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    border-radius: 20px;
    display: inline;
    text-align: center;
    padding: 5px;
}

.botao_adicionar {
    display: flex;
    background-color: green;
    color: white;
    height: 60px;
    width: 120px;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    border: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}

.botao_adicionar_fantasma {
    height: 60px;
    width: 120px;
    display: flex;
}

.titulo_gerenciar_usuario {
    display: flex;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.botao_verde {
    position: absolute;
    background-color: green;
    color: white;
}

.botao_editar_usuario {
    background-color: green;
    color: white;
    height: 40px;
    width: 100px;
    border-radius: 10px;
    border: none;
    margin-top: 18%;
    margin-right: 5px;    
}

.botao_excluir_usuario {
    background-color: red;
    color: white;
    height: 40px;
    width: 100px;
    border-radius: 10px;
    border: none;
    margin-top: 18%;
    margin-left: 5px;
}

/* Editar/adicionar usuarios */

.parte_letra {
    text-align: left;
    font: bold;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

.quadrado_branco_editar {
    background-color: white;
    height: 50vh;
    width: 130vh;
    border-radius: 3vh;
    padding: 3vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    box-sizing: border-box;
}

.formulario {
height: 30px;
width: 420px;
border: 3px solid black;
border-radius: 6px;
}


.titulo_pag_editar {
    display: flex;
    font-size: 70px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    align-items: center;
    
}

.levar_direita{
    display: flex;
    justify-content: right;
    gap: 15px;
    align-items: center;
}


.botao_salvar {
    background-color: green;
    height: 45px;
    width: 90px;
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;
    border: none;
    border-radius: 15px;
}

.botao_cancelar {
    background-color: #2E2E2E;
    height: 45px;
    width: 90px;
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;
    border: none;
    border-radius: 15px;
}