.retangulo_branco_cima {
    height: 80px;
    width: 100%;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    z-index: 1000;
}

.titulo_nexum a { /* Método ruim para alinhamento, trocar mais tarde */
    color: black;
    text-decoration: none;
    background-color: aqua;
    position: fixed;
    top: 22px;
    left: 100px;
    font-family: Arial, Helvetica, sans-serif;
}

.titulo_nexum:visited {
    color: black;
}

.logo_IF { /* Método ruim para alinhamento, trocar mais tarde */
    height: 70px;
    width: 50px;
    background-color: blueviolet;
    position: relative;
    top: 5px;
    left: 15px;
}

.botao_sair a { /*uma melhor forma de alinhamento (opcional pq esse funciona "bem")*/
    background-color: red;
    color: white;
    height: 30px;
    width: 60px;
    border-radius: 5px;
    border: none;
    font-size: medium;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    display: flex;
    position: fixed;
    top: 26px;
    right: 30px;
}

.botao_minha_conta {
    background-color: limegreen;
    color: white;
    height: 30px;
    width: 90px;
    border-radius: 5px;
    border: none;
    font-size: medium;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    display: flex;
    position: fixed;
    top: 26px;
    right: 110px;
}